.netflix-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    #6a5af9,   /* purple */
    #9b5de5,   /* violet */
    #f15bb5,   /* pink */
    #ff9f1c    /* orange */
  );
}


.login-left {
  width: 50%;
  padding: 80px;
  color: white;
  background: linear-gradient(135deg, #e50914, #b00710);
  animation: fadeUp 1.1s ease-out forwards;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.login-left h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.login-left p {
  font-size: 18px;
  opacity: 0.9;
}

.login-right {
  width: 40%;
  background: #111;
  padding: 60px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
  animation: fadeUp 0.9s ease-out forwards;
  color: white;
  text-align: center;
}

.login-right h2 {
  margin-bottom: 30px;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.login-right input {
  background: #222;
  border: none;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: white;
}

.login-right input::placeholder {
  color: #aaa;
}

.login-right button {
  background: #e50914;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-right button:hover {
  background: #b00710;
}

.login-footer {
  margin-top: 20px;
  color: #aaa;
}

.login-footer span {
  color: white;
  cursor: pointer;
  margin-left: 5px;
}

.login-footer span:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .netflix-login {
    flex-direction: column;
  }

  .login-left {
    width: 100%;
    border-radius: 20px 20px 0 0;
    text-align: center;
  }

  .login-right {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }
}

/* Fade In Animation */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
